@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Poppins", serif !important;
    font-style: normal !important;
  }

  img {
    @apply object-cover object-center;
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* ini untuk modal */
/* styles.css atau file CSS Anda */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  position: absolute;
  top: 50%; /* Mulai dari tengah vertikal */
  left: 50%; /* Mulai dari tengah horizontal */
  transform: translate(-50%, 100%); /* Mulai dari bawah */
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  opacity: 0;
}

.ReactModal__Content--after-open {
  transform: translate(-50%, -50%); /* Bergerak ke tengah */
  opacity: 1;
}

.ReactModal__Content--before-close {
  transform: translate(-50%, 100%); /* Kembali ke bawah */
  opacity: 0;
}
